body {
text-align: center; 
background:linear-gradient(darkblue 0%, purple 100%)no-repeat ; 
margin: 0; 
}
#video1{
width: 100%;
height: 500px;
padding: 0;
}
#menu{
list-style:none;
font-size: 20px;
position:fixed;
margin: auto;
top:0px;
margin: 0px;
text-align: center;
background-color: rgba(0, 0, 0, 0.37);
width:100%;
height: 40px;
padding-top: 10px;
}
.links{
display: inline;
padding: 10px;
font-family:fantasy;
text-transform:uppercase;
color: white;
}
.links:hover{
 font-size: 25px;
 color: red;   
}
#line{
 background-color: black;
 width: 100px; 
 height:6px;
 margin:auto; 
}
a{
text-decoration: none;
color: red;    
}
#jogos{
font-size: 20px;  
}
#videos{
font-size:  20px;    
}
.icones{
 height: 30px;   
}
section{
 padding: 30px ;   
}